/* Style for image gallery */
#image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Margin between images */
}

.img-container {
    border: 2px solid #ddd; /* Border for images */
    overflow: hidden;
}

.img-container img {
    width: 100%; /* Ensures images are not stretched */
    height: auto;
    transition: transform 0.2s; /* Smooth transform */
}

.img-container:hover img {
    transform: scale(1.1); /* Zoom effect on hover */
}

/* Style for enlarged image viewer */
#image-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.hidden {
    display: none;
}

#close-btn, #prev-btn, #next-btn {
    position: absolute;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#close-btn {
    top: 20px;
    right: 20px;
}

#prev-btn, #next-btn {
    top: 50%;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#large-image {
    max-width: 80%;
    max-height: 80%;
}

